{% extends 'base.html' %}
{% load static %}
{% block js %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'basketapp/js/basket.js' %}"></script>
{% endblock %}
{% block menu %}
		<div class="hero-white">
			{% include 'inc_menu.html' %}
		</div>
    {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
        <div class="basket_list">
            {% include 'inc_basket_list.html' %}
        </div>
        </div>
    {% endif %}
{% endblock %}